{{#each ideas}}
  <div><h4>user : {{user.name}} {{user.admin}} {{user.email}} </h4></div>
  <div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{_id}}" class="btn btn-success btn-block">Edit</a>
    <form action="/ideas/{{_id}}?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" class="btn btn-warning 
        btn-block" value="Delete" />
    </form>
  </div>
{{else}}
  <div><h4>user : {{user.name}} {{user.admin}} {{user.email}} </h4></div>
  <p>No data listed</p>
{{/each}}