  {{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
  {{else}}
  {{/each}}
  <div class="card card-body">
    <h3>Bookings</h3>
    <form action="/bookings/add" method="post">
      <div class="form-group">
        <label for="facility">Facility</label>
        <input 
            type="text" 
            id="facility" 
            class="form-control" 
            name="facility"
            value="{{facility}}"
            required
        /> 
      </div>
      <div class="form-group">
        <label for="bookingDate">Booking Date</label>
        <input
            type="date" 
            id="bookingDate" 
            class="form-control" 
            name="bookingDate" 
            value="{{bookingDate}}"
        ></input>
      </div>

      <div class="form-group">
        <label for="session">Session</label>
        <input
            type="text" 
            id="session" 
            class="form-control" 
            name="session" 
            value="{{session}}"
        ></input>
      </div>

      <button type="submit" class "btn btn-primary" name="action" value="addBooking">Add Booking</button>
      <button type="submit" class "btn btn-primary" name="action" value="checkSessions">Available sessions</button>
  
      {{#if sessions}}
    <div>
    <table class="table table-striped table-hover">
        <caption>Booked sessions</caption>
        <thread>
            <tr>
                <th>Facility</th>
                <th>Booking Date</th>
                <th>Session</th>
                <th>Status</th>
                <th>Select</th>
            </tr>
        </thread>
        <tbody>
            {{#each sessions}}
            <tr>
                <td>{{facility}}</td>
                <td>{{bookingDate}}</td>
                <td>{{session}}</td>
                <td>{{status}}</td>
                <td>
                 <input type="radio" class="form-check-input" id="radio" name="session_selected" value="{{session}}" checked>
      <label class="form-check-label" for="radio"></label>

                </td>
            </tr>
            {{/each}}
        </tbody>        
    </table>
{{/if}}
    </form>
  </div>
